/* @import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css"; */

@media (min-width: 50rem) {
    .hero {
        grid-template-columns: unset;

        >img {
            order: unset;
            margin-inline: unset;
        }
    }
}

:where(p) {
    text-wrap: pretty;
}

:where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
}
