name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * *"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      issues: write # Required for peter-evans/create-issue-from-file
    steps:
      - uses: actions/checkout@v5

      - name: Build site
        uses: withastro/action@v4
        with:
          package-manager: pnpm@latest

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: '--root-dir ${{ github.workspace }}/dist --exclude-all-private dist'
          fail: false
