name: PR Links

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Install dependencies for feature branch
        run: pnpm install --frozen-lockfile

      - name: Build site from feature branch
        run: pnpm build

      - name: Check links
        uses: lycheeverse/lychee-action@v2
        with:
          # Remap live URLs to build directory because the links are potentially not live (not yet on master)
          args: |
            --root-dir $PWD/dist
            --exclude-all-private
            --remap 'https://lychee\.cli\.rs/(.*)/ file://'$PWD'/dist/$1/index.html'
            dist
          fail: true

      - name: Suggestions
        if: failure()
        run: |
          echo -e "\nPlease review the links reported in the 'Check links in PR changes' step above."
          echo -e "If a link is valid but fails due to a CAPTCHA challenge, IP blocking, login requirements, etc.,"
          echo -e "consider adding such links to .lycheeignore file to bypass future checks.\n"
          exit 1
